version: '3.8'
services:
  postgres_db:
    image: postgres:16
    container_name: bingo_postgres_dev 
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123
    ports:
      - '4481:5432'
    volumes:
      - postgres_db:/var/lib/postgresql/data
volumes:
    postgres_db:
      driver: local